<html lang="{{ app.request.locale }}">
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8">
        <title>Lengow Test</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>